<ion-card>
  <ion-card-content>
     <ion-item>
      <ion-label floating>Email Address</ion-label>
      <ion-input [(ngModel)]="account.email" type="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Password</ion-label>
      <ion-input [(ngModel)]="account.password" type="password"></ion-input>
    </ion-item>
  </ion-card-content>
  <ion-row class="login-form__buttons">
    <div>
      <button ion-button (click)="navigateToRegisterPage()" color="secondary" >Register</button>
      <button ion-button (click)="login()">Login</button>
    </div>
  </ion-row>
</ion-card>